<%- include('header.ejs')%>
<div class="container-fliud">
    <form action="/" method="post">
        <div class="form-outline">
            <input type="text" id="typeURL" class="form-control" name="title"  required/>
            <label class="form-label" for="typeURL">Title</label>
          </div>
        
        
          <div class="form-outline">
            <textarea class="form-control" id="textAreaExample" rows="4" name="message" required></textarea>
            <label class="form-label" for="textAreaExample">Message</label>
          </div>
          <button type="submit"  class="btn btn-primary btn-lg">Submit</button>
        </form>
</div>



   




