<footer class="text-center  " >
  
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  Copyright ©2022 All rights reserved
    <!-- <a class="fa fa-linkedin" href="https://www.linkedin.com/in/mohammad-nadeem-b03603209/"></a>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a> -->
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>
</footer>